<div ng-controller="AuthCtrl as auth">

  <div>
    <form>
      <label for="login">
        Email
        <input type="email" name="login" value="Your email" ng-model="email" required />
      </label>
      <label for="password">
        Password
        <input type="password" name="password" value="Your password" ng-model="password" required />
      </label>
      <label>
        <button ng-click="auth.login(email, password)">Login</button>
      </label>
    </form>
  </div>

  <div>
    <p ng-show="auth.errors">{{auth.errors}}</p>
  </div>

</div>
