<div ng-controller="AuthCtrl as auth">

  <div>
    <form ng-submit="auth.login(email, password)">

      <div>
        <label for="login">
          Email
          <input type="email" name="login" value="Your email" ng-model="email" required />
        </label>
      </div>

      <div>
        <label for="password">
          Password
          <input type="password" name="password" value="Your password" ng-model="password" required />
        </label>
      </div>

      <input type="submit" value="Login" />

    </form>
  </div>

  <div>
    <p ng-show="auth.errors">{{auth.errors}}</p>
  </div>

</div>
