<div ng-controller="AuthCtrl as auth">

  <div>
    <form>
      <label for="first name">
        First name
        <input type="text" name="first name" value="Your first name" ng-model="first_name" />
      </label>
      <label for="last name">
        Last name
        <input type="text" name="last name" value="Your last name" ng-model="last_name" />
      </label>
      <label for="email">
        Email
        <input type="email" name="email" value="Your email" ng-model="email" />
      </label>
      <label for="password">
        Password
        <input type="password" name="password" value="Your password" ng-model="password" />
      </label>
      <label>
        <button ng-click="auth.register(fisrt_name, last_name, email, password)">Register</button>
      </label>
    </form>
  </div>

  <div>
    <p ng-show="auth.errors">{{auth.errors}}</p>
  </div>

</div>
